@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Open+Sans+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f0e4e4;
    opacity: 1;
}

.header {
    border: 0.1vw solid #dec3c3;
    width: 85%;
    float: right;
}

.header h2 {
    padding-left: 1%;
    font-size: 80%;
}

.title {
    border: 0.1vw solid #dec3c3;
    width: 85%;
    float: right;
    padding-left: 1%;
}

.title h2 {
    font-size: 2.0vw;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1%;
    background-color: #e7d3d3;
    border: 0.1vw solid #dec3c3;
}

.sidebar h1 {
    margin: 5%;
    padding-bottom: 15%;
    font-size: 2.8vw;
    color:  #854442;
}

.previewarea {
    width: 50%;
    height: 100vh;
    float: right;
    padding: 1.5vw;
    border: 0.1vw solid #dec3c3;
}
  
.showarea {
    width: 35%;
    height: 100vh;
    float: right;
    padding: 1.5vw;
    border: 0.1vw solid #dec3c3;
}

.showarea p {
    margin: 0.5vw;
    font-size: 1.5vw;
}

.previewarea p {
    margin: 0.5vw;
    font-size: 1.5vw;
}

div.preview{
    position: relative;
    margin: 0.5vw;
    border: 0.1vw solid #be9b7b;
    float: left;
    width: 20%; 
    height: auto;
}

div.preview:hover {
    border: 0.3vw solid #be9b7b;
    position: static;
    width: 50%; 
    height: auto;
}
  
div.preview img {
    max-width: 90%;
    height: auto;
}

div.preview p {
    font-size: 0.5vw;
    text-align: center;
    overflow: hidden;
}

div.show{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0.3vw solid #be9b7b;
    width: 95%; 
    height: auto;
}

div.show:hover {
    border: 0.6vw solid #be9b7b;
    position: static;
}
  
div.show img {
    max-width: 90%;
    height: auto;
}

h1 {
    color: #4b3832;
    font-family: 'Maven Pro', sans-serif;
}

h2 {
    color: #854442;
    font-family: 'Maven Pro', sans-serif;
}

p {
    color: #854442;
    font-family: 'Maven Pro', sans-serif;
}

img.center {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    border:0;
    margin: 3%;

    background-color:  #c99789;
    color:#ffe9dc;

    border-radius: 10vw;
    width: 70%;
    height: 5%;
    cursor: pointer;
    
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.25vw;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}

button:hover{
    color: #c99789;
    background-color:#fff;
    border: 0.2vw  #c99789 solid;
    overflow: hidden;
}