/* * {
    text-align: center;
    color: black;
} */

* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    opacity: 1;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    /* display: block; */
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
h1.hidden {
    display: none;
}

/* div {
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
} */
  
div:hover {
    background-color: blue;
    /* text-align: end; */
    color: orange;
}

/* div:hover p {
    display: block;
} */

div.gallery {
    /* margin: 5px; */
    border: 1px solid #ccc;
    /* float: left; */
    /* width: 180px;  */
    height: 600px;
}

div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    max-width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
  

p {
    /* display: none; */
    color: black;
    background-color:rgba(255, 99, 71, 0.5);
    font-family: courier;
    font-size: 160%;
    border: 2px solid black;
    padding: 30px;
    margin: 50px;
}

p:first-child {
    color: blue;
}

p.center {
    text-align: center;
    color:lawngreen;
}
p.large {
    font-size: 300%;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* img {
    float: center; 
    width: 100%;
    height: auto;
} */

#para1 {
    text-align: center;
    color: blueviolet;
}
.center {
    text-align: center;
    color: brown;
}

a:link {
    color: red;
}
  
  /* visited link */
a:visited {
    color: green;
}
  
  /* mouse over link */
a:hover {
    color: hotpink;
}
  
  /* selected link */
a:active {
    color: blue;
}