* {
    box-sizing: border-box;
}

body {
    background-color: lightcyan;
    opacity: 1;
}

.header {
    border: 0.1vw solid red;
    width: 85%;
    float: right;
    /* top: -5px; */
    /* margin: -0.5%; */
    /* padding: 5px; */
}

.header h2 {
    /* margin-top: 5%; */
    padding-left: 1%;
    /* font-size: 200%; */
}

.title {
    border: 0.1vw solid red;
    width: 85%;
    float: right;
    top: 0;
    margin: 0%;
    padding-left: 1%;
}

.title h2 {
    /* margin-top: 5%; */
    padding: 0vw;
    /* font-size: 200%; */
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-y: auto; */
    padding-top: 1%;
    background-color: lightblue;
    border: 0.1vw solid red;
}

.sidebar h1 {
    margin: 5%;
    padding-bottom: 15%;
    font-size: 2.4vw;
}

.previewarea {
    width: 50%;
    float: right;
    padding: 1.5vw;
    border: 0.1vw solid red;
}
  
.showarea {
    width: 35%;
    float: right;
    padding: 1.5vw;
    border: 0.1vw solid red;
}

.showarea p {
    margin: 0.5vw;
}

.previewarea p {
    margin: 0.5vw;
}

div.preview{
    position: relative;
    margin: 0.5vw;
    border: 0.1vw solid lightgray;
    float: left;
    width: 20%; 
    height: auto;
}

div.preview:hover {
    border: 0.3vw solid lightsteelblue;
    position: static;
    width: 50%; 
    height: auto;
    /* display: block; */
}
  
div.preview img {
    max-width: 90%;
    height: auto;
}

div.preview p {
    font-size: 0.3vw;
    text-align: center;
}

div.show{
    /* position: relative; */
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0.3vw solid darkslategrey;
    /* float: left; */
    width: 95%; 
    height: auto;
}

/* div.show:hover {
    border: 1px solid lightsalmon;
    width: 100%; 
    height: auto;
} */
  
div.show img {
    max-width: 90%;
    height: auto;
}

/* .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    width: 15%;
} 

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}  */

/* .container {
    position: relative;
    width: 50%;
} */

h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: black;
    font-family: verdana;
    /* font-size: 300%; */
}

p {
    color: black;
    font-family: verdana;
    /* font-size: 300%; */
}

img.center {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    border:0;
    background-color: rgba(84, 84, 253, 0.877);
    color:rgba(233, 227, 227, 0.856);
    border-radius: 10vw;
    width: 70%;
    height: 5%;
    cursor: pointer;
    margin: 3%;
    font-size: 1.25vw;
}
      
button:hover{
    color:rgba(84, 84, 253, 0.877);
    background-color:#fff;
    border:0.2vw rgba(84, 84, 253, 0.877) solid;
}